[submodule "third_party/bullmq"]
	path = third_party/bullmq
	url = https://github.com/taskforcesh/bullmq.git
[submodule "third_party/taskiq"]
	path = third_party/taskiq
	url = https://github.com/taskiq-python/taskiq.git
[submodule "third_party/asynq"]
	path = third_party/asynq
	url = https://github.com/hibiken/asynq.git
[submodule "third_party/sidekiq"]
	path = third_party/sidekiq
	url = https://github.com/sidekiq/sidekiq.git
